/* odin-recipes css additions */

/* planned ideas: adjust images to be same size and smaller on page to reduce the need to scroll.


ID Alternatives

*/

div.recipe-list {
    font-size: 18px;
   
}


.fonts.recipe-list
{
background-color: azure;}


.desc,
.items,
.optional,
#alternatives
{
    color: darkslateblue;
}

.ingred.items {
    font-size: 18px;
    color: brown;
}

.recipe-picture {
    width: 200px; 
    height: auto;
    border-style: solid;
    border-color: burlywood;}

.fonts.go-home,
#guac-recipe,
#steak-recipe,
#alternatives {
    color:black; 
    background-color: rgb(199, 212, 224);
}
.serve,
#guac-recipe,
#steak-recipe
 {font-weight: bold;
    color: darkgreen;}


.recipe-list {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 24px;
}

.recipe-title,
#Odin {
    font-style: oblique;
    color: rgb(136, 4, 4);
    font-weight: 700;
    font-size: 32px;
    background-color: bisque;
}

.desc,
.fonts,
.recipe-links {
    background-color: rgb(114, 188, 190);
}


