/* odin-recipes css additions */

/* planned ideas: adjust images to be same size and smaller on page to reduce the need to scroll.
heading description class - desc
ingredients and instructions multiple classes
classes: ingred, instruct on h3
ul class ingred items (recipe pages)
ol class items ordered (recipe pages)

class recipe-list (index)
add div to index 

class recipe-picture (all pages)
class recipe-title (all pages)
class optional
ID Alternatives

*/

.fonts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipe-picture {
    width: 200px; 
    height: auto;}

.go-home,
#guac-recipe,
#steak-recipe {
    color:black; 
    background-color: rgb(199, 212, 224);
}
.serve,
#guac-recipe,
#steak-recipe
 {font-weight: bold;
    color: darkgreen;}


.recipe-title {
    font-style: oblique ;
    font-size: 40px;
}